@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s ease-in-out;
}
/* ####################### html element styling ####################### */
html{
    font-size: 62.5%;
}
body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
}
.slidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: transparent;
    background-color: rgba(211, 211, 211, 0.339);
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    backdrop-filter: blur(10px);
    transition: all .5s ease;
    z-index: 1111;
}
.slidebar ul .slider1{
    display: block;
    height: 100%;
    width: 100%;
    font-weight: 700;
    line-height: 40px;
    font-size: 15px;
    color: rgb(255, 60, 60);
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 8px;
    transition: .4s;
    letter-spacing: 0;
}
ul li:hover .slider1{
    padding-left: 50px;

}
.slidebar header{
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgba(128, 128, 128, 0.479);
    user-select: none;
}
.slidebar ul .slider{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 40px;
    font-size: 15px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding-top: 8px;
    transition: .4s;
}
ul li:hover .slider{
    padding-left: 50px;

}
#check{
    display: none;
}
label #btn11, label #cancel{
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
label #btn11{
    left: 25px;
    top: 25px;
    font-size: 29px;
    color: white;
    transition: all .5s;
}
label #cancel{
    position: fixed;
    z-index: 11111;
    left: -195px;
    top: 21px;
    font-size: 25px;
    color: white;
    transition: all .5s ease;
}
#check:checked ~ .header .slidebar{
    left: 0;
}
#check:checked ~ label #btn11{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 210px;
}
.header-content h1 .M3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    }
.K2{
    visibility: visible;
}
.K1{
    visibility: hidden;
}
.X1{
    visibility: hidden;
}
@media (max-width:735px){
    label #btn11{
        font-size: 25px;
        color: white;
        transition: all .5s;
        transform: translate(-50%, -50%);
        border: 1px solid white;
    }
    .fa-bars{
        visibility: hidden;
    }
    .X1{
        visibility: visible;
    }
    
    .header-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    LINE-HEIGHT: 2rem;
    }
    .header-content h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    }
    .header-content h1 .M3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4.2rem;
    }
    .M2{
        line-height: 1.1rem;
    }
    .header-content p{
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 400px;
    }
    .header-content .lg-heading{
        width: 100%;
    }
    .header{
    position: relative;
    height: 98vh;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../img/Earth\ for\ mobile.jfif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    .slidebar{
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100%;
        background: transparent;
        background-color:rgba(0, 0, 0, 0.647);
        transition: all .5s ease;
        backdrop-filter: blur(10px);
        z-index: 111;
    }
    #check:checked ~ label #cancel{
        left: 40px;
    }
    .K1{
        visibility: visible;
    }
    .K2{
        visibility: hidden;
    }
    .K3{
        visibility: hidden;
    }
    .logo{
        font-size: 1.7rem;
        margin-top: 1.2rem;
    }
}
@media (max-width:670px){
    label #btn11{
        left: 40px;
        top: 40px;
        font-size: 12px;
        color: white;
        transition: all .5s;
        top: 113%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0px solid white;
        border-radius: 30px;
        padding: 1px 20px;
        background-color: white;
        background-color: blur(10px);
        color: #0272fa;
        font-style: normal;
        font-weight: 500;
    }
    .header{
    position: relative;
    height: 98vh;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url('../img/Earth\ for\ mobile.jfif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
    .slidebar{
        position: fixed;
        left: -100%;
        width: 100%;
        height: 100%;
        background: transparent;
        background-color:rgba(0, 0, 0, 0.647);
        transition: all .5s ease;
        backdrop-filter: blur(10px);
        z-index: 111;
    }
    #check:checked ~ label #cancel{
        left: 40px;
    }
    .header-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    LINE-HEIGHT: 3.2rem;
    }
    .header-content h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    }
    .header-content h1 .M3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    }
    .M2{
        line-height: 1.1rem;
    }
    .header-content p{
    text-transform: uppercase;
    font-size: 0.8rem;
    width: 300px;
    }
    
}